header {
    text-align:left;
    color: rgb(17, 107, 192);
    font-style: italic;    
    border: 5px solid  rgb(17, 107, 192);
    
      }
span{
    margin-left: 100px;
    margin-top: 100px;
    width: 600px;
    font-size: 80px;
  
}


.title1 {
            text-align:flex;                   
            color:rgb(17, 107, 192);
            font-style: italic;
            box-sizing: border-box;
            font-size: 40px;
            margin-top: 50px;
            margin-left: 100px;
 
        }

.title2 {
            text-align:justify;                   
            color:rgb(17, 107, 192);
            font-style: italic;
            box-sizing: border-box;
            font-size: 25px;
            margin-top: 30px;
            margin-left: 50px;
            margin-right: 600px;
 
        }

.title3 {
            text-align:justify;                   
            color:rgb(61, 61, 129);
            font-style: italic;
            box-sizing: border-box;
            font-size: 25px;
            margin-top: 30px;
            margin-left: 90px;
            margin-right: 700px;
 
        }
.title4 {
            text-align:justify;                   
            color: rgb(61, 61, 129);
            font-style: italic;
            box-sizing: border-box;
            font-size: 25px;
            margin-top: 30px;
            margin-left: 30px;
            margin-right: 250px;
        }

.title5 {
            text-align:justify;                   
            color: rgb(61, 61, 129);
            font-style: italic;
            box-sizing: border-box;
            font-size: 25px;
            margin-top: 30px;
            margin-left: 30px;
            margin-right: 250px;
        }

.class1 {
            text-align:flex;                   
            color:rgb(17, 107, 192);
            font-style: italic;
           
            font-size: 50px;
            margin-top: 50px;
            margin-left: 100px;
        }

.texto1 {
            text-align:flex;                   
            color:rgb(17, 107, 192);
            font-style: italic;
           
            font-size: 30px;
           
            margin-left: 100px;
        }


body {
        background-image: url("../img/img8.jpg");
        background-size: cover;


     }

nav {
    float: right;
    margin-top: 20px;
    margin-left: 100px;
    color: rgb(17, 107, 192);
    margin-right: 80px;
    display: inline-flexbox;
    font-size: 50px;

   }

.blockquote {
    font-style: italic;
    color: blue;
    text-align: justify;
    width: 1200px;
    font-size: 30px;
    margin-top: 100px;
    margin-left: 400px;

            }

.conte {
        font-style: italic;
        text-align: justify;
        color: blue;
        
        font-size: 30px;
        margin-top: 100px;
        
            
        }
        
a{
    color: rgb(17, 107, 192);
}  
.p1{
    text-align: center;
}

.img1{
    padding: 5px;
    margin-top: -600px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 50px;

}   
.img2{
    padding: 5px;
    margin-top: -1080px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 50px;

}
.img3{
    padding: 5px;
    margin-top: -365px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 300px;

}

.img4{
    padding: 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 300px;

}

.img5{
    padding: 5px;
    margin-top: -100px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 900px;

}
.img6{
    padding: 5px;
    margin-top: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 50px;

}
.img7{
    padding: 5px;
    margin-top: -700px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 1250px;

} 


.one {
    
    text-align: left;
    color: blue;
    font-family: 'Satisfy', cursive;
    font-size: 20px; 
    margin-left: 600px;
    margin-right: 200px;
  
} 

.two {
    
    text-align: left;
    color: blue;
    font-family: 'Satisfy', cursive;
    font-size: 30px; 
    margin-left: 50px;
    margin-top: 250px;
    margin-right: 1000px;
 
   
} 

.three {
    text-align: left;
    color: blue;
    font-family: 'Satisfy', cursive;
    font-size: 30px; 
    margin-left: 750px;
    margin-top: 100px;
    margin-right: 0px;
}

